<form action="{{ path('ticket_add_comment', {'id': ticket.id}) }}" method="post" class="mt-2">
    <input type="hidden" name="comment[_token]" value="{{ csrf_token(constant('\\App\\Form\\CommentType::TOKEN_ID')) }}">

    <div class="form-group">
        <textarea name="comment[content]" id="comment_content" class="form-control" required="required"></textarea>
    </div>

    <div class="mt-3">
        <button type="submit" class="btn btn-success">Add Comment</button>
    </div>
</form>