<div class="card mb-3">
    <div class="card-body">
        <div class="card-text mb-2">
            {{ comment.content }}
        </div>
        <div class="card-subtitle text-muted">
            Written by {{ comment.createdBy.name }}
            at {{ comment.createdAt|date }}
        </div>
    </div>
</div>