<form method="post" id="close_ticket_form" action="{{ path('ticket_patch', {'id': ticket.id}) }}" onsubmit="return confirm('Are you sure you want to close this ticket?');">
    <input type="hidden" name="status" value="closed">
    <input type="hidden" name="_method" value="PATCH">
    <input type="hidden" name="_token" value="{{ csrf_token('close_ticket_token') }}">
</form>