{% extends 'base.html.twig' %}

{% block title %}Edit Ticket{% endblock %}

{% block body %}
    <h1 class="mb-5">
        Manage Ticket
        {{ include('common/status-badge.html.twig', { status: ticket.status }) }}

        {% if ticket.updatedAt > ticket.createdAt %}
        <p>
            <small class="text-muted">Last update {{ ticket.updatedAt|date }}</small>
        </p>
        {% endif %}

        {% if ticket.closedBy %}
            <p>
                <small class="text-muted">Closed by {{ ticket.closedBy.name }}</small>
            </p>
        {% endif %}
    </h1>

    {{ include('ticket/_form.html.twig') }}
    {{ include('ticket/_form_close.html.twig') }}

    {{ include('comment/show.html.twig', { comment: ticket.comments.first() }) }}

    <div class="my-5">
        <a href="{{ path('ticket_index') }}" class="btn btn-link">Back</a>

        {% if is_granted('edit', ticket) %}
            <button id="submit_ticket" form="edit_ticket_form" class="btn btn-success">Update</button>
        {% endif %}
        {% if is_granted('close', ticket) %}
            <button id="close_ticket" form="close_ticket_form" class="btn btn-danger">Close</button>
        {% endif %}
    </div>

    <h3>Comments:</h3>

    {% for comment  in ticket.comments.slice(1) %}
        {{ include('comment/show.html.twig', { comment: comment }) }}
    {% else %}
        <div class="alert alert-info">
            No comments on this ticket.
        </div>
    {% endfor %}

    {% if is_granted('comment', ticket) %}
    <h4>Add new comment:</h4>
    {{ include('comment/new.html.twig', { ticket: ticket }) }}
    {% else %}
    <div class="alert alert-warning">
        Sorry you can't comment on this ticket.
    </div>
    {% endif %}

{% endblock %}
