{% extends 'base.html.twig' %}

{% block title %}Ticket index{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm">
            <h1>Tickets</h1>
        </div>
        <div class="col-sm">
            <a href="{{ path('ticket_new') }}" class="btn btn-primary float-right">Create new</a>
        </div>
    </div>

    <table class="table" id="ticket-list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Created By</th>
                <th>Assigned To</th>
                <th>Status</th>
                <th>Comments</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
        {% for ticket in tickets %}
            <tr>
                <td># {{ ticket.id }}</td>
                <td>{{ ticket.createdBy.name }}</td>
                <td>{{ ticket.assignedTo ? ticket.assignedTo.name : '(not assigned)' }}</td>
                <td>{{ include('common/status-badge.html.twig', { status: ticket.status }) }}</td>
                <td>{{ ticket.comments.count() }}</td>
                <td>
                    <a href="{{ path('ticket_show', {'id': ticket.id}) }}">Manage</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
