{% extends 'base.html.twig' %}

{% block title %}New Ticket{% endblock %}

{% block body %}
    <h1>Create Ticket</h1>

    {{ include('ticket/_form.html.twig', {ticket: ticket}) }}

    <div class="my-5">
        <a href="{{ path('ticket_index') }}" class="btn btn-link">Back</a>
        <button id="submit_ticket" form="add_ticket_form" class="btn btn-success">Save</button>
    </div>
{% endblock %}
