{% if status is same as('new') %}
    <small class="badge badge-success text-uppercase">{{ ticket.status }}</small>
{% elseif status is same as('closed') %}
    <small class="badge badge-danger text-uppercase">{{ ticket.status }}</small>
{% else %}
    <small class="badge badge-warning text-uppercase">{{ ticket.status }}</small>
{% endif %}