{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Edit Profile</h1>

    {{ include('user/_form.html.twig', { notifications: user.enabledNotificationTypes }) }}

    <div class="my-5">
        <a href="{{ path('ticket_index') }}" class="btn btn-link">Back</a>
        <button id="submit_ticket" form="edit_user_form" class="btn btn-success">Update</button>
    </div>
{% endblock %}

{% block js %}
<script>
    $('input').filter(function(i) {
      return $('[for="'+$(this).attr('id')+'"]').text().indexOf('required') > -1;
    }).attr('required', 'required');
</script>
{% endblock %}